<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APP1</title>
</head>
<body>
    <h1 class="text-primary">TEST APP</h1>
    <a href="{% url 'app1:home' %}">HOME</a>
    <br>
    <a href="{% url 'app1:about' %}">ABOUT US</a>

    {% block body %} {% endblock %}
</body>
</html>